Source: pwm-pca9685
Section: unknown
Priority: optional
Maintainer: Markus Sabadello <markus@projectdanube.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://lxr.free-electrons.com/source/drivers/pwm/
#Vcs-Git: git://anonscm.debian.org/collab-maint/pwm-pca9685.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/pwm-pca9685.git;a=summary

Package: pwm-pca9685
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Driver for PCA9685 16-channel 12-bit PWM LED controller
 Driver for PCA9685 16-channel 12-bit PWM LED controller
